<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Authentication App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {{#if logged_in}}
                <li><a href="/profile">profile</a></li>
                <li><button id="logout">Logout</button></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
        

        {{#if logged_in}}
        <script>
            document.getElementById("logout").addEventListener("click", async () => {
                const response = await fetch("/auth/logout", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                });

                if(response.ok) {
                    document.location.replace("/");
                } else {
                    alert("faild to log out");
                }
            });
        </script>
        {{/if}}
    </main>

</html>